<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants" method="POST">
        <div class=" form-group row">
          <label class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              店名：
            </span>
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="name" placeholder="ex: 番紅花">
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="name_en" name="name_en" placeholder="Restaurant name">
          </div>
        </div>
        <div class="form-group row">
          <label for="category" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              類別：
            </span>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="category" id="category" placeholder="ex: 美式、中餐、西餐">
          </div>
        </div>

        <div class="form-group row">
          <label for="rating" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              Rating：
            </span>
          </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="rating" id="rating" placeholder="4.1" min="1" max="5">
          </div>
        </div>

        <div class=" form-group row">
          <label for="address" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              地址：
            </span>
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="location" name="location" placeholder="ex: 台北市士林區忠誠路一段八巷5號">
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="google_map" name="google_map" placeholder="請分享Google Map連結">
          </div>
        </div>

        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              電話：
            </span>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="ex: 02-12345678">
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              餐廳簡介：
            </span></label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" rows="4"
              placeholder="ex: 我們在乎每一位顧客、賣出去的每一滴咖啡、每一粒咖啡豆。而今，「Fika Fika Cafe Online Store」更期望把如此美好的體驗，分享給喜歡我們的每一位顧客，希望您無論在世界的哪一個角落，都能與我們一起享受「Fika Fika」的美好時光。"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">
            <span class="text-secondary">
              {{!-- <i class="fas fa-utensils pr-2"></i> --}}
              餐廳照片連結：
            </span>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="image" id="category" placeholder="http://www.image.com">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>