header {
  overflow: hidden;
}

body{
  font-family: 'Noto Sans TC';
}

.navbar {
  background-color: #8B987C;
  font-family: 'Noto Sans TC', sans-serif;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand:hover {
  color: #283348;
}

.navbar .navbar-brand img{
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  border-color: #678386;
  background-image: url(../images/IMG_3822.PNG);
  background-position: center center;
  background-size: cover;
}

#createButton {
  font-weight: 400;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 400px;
  background: #dddddd center center url(../images/relax.jpg);
  background-size: cover;
  filter: brightness(.7);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #F6B472;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -120px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans TC', sans-serif ;
}

#search-button {
  width: fit-content;
  background-color: white;
  border: #777479 0.5px solid;
}

.input-group input[type=text] {
  border: #777479 0.5px solid;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  display: flex;
  height: 180px;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  width: auto;
}

.restaurant-show-title {
  position: relative;
  top: -240px;
  color: white;
  text-align: center;
  font-family: 'Rochester', 'Noto Sans TC';
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 0 0 20px white;
}

#restaurant-show-page{
  font-family: 'Noto Sans TC';
  margin-bottom: 10rem;
}

#restaurant-description{
  background-color: cornsilk;
}

#editButton{
  background-color: #B5EAD7 !important;
  color: #66666E !important;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

#deleteButton{
  background-color: #FFB7B2 !important;
  color: #66666E !important;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

#editButton:hover, #deleteButton:hover{
  color: white !important;
}

#editPageForm, #newPageForm{
  border: lightgray 1px solid;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans TC', sans-serif;
}

@media screen and (max-width: 992px) {
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img{
    height: auto;
  }
  
}